Total Results 
<div id=total_results>
<%=@total_hits.total_hits%>
</div>

<h2>Results</h2>

<%n = 1%>
<%@results.each do |food|%>

<div id="food_result">
<h4>Results Number <%=n%></h4>
  
  <div id="food_brand">
  Food Brand:
    <p><%=food.brand%></p>
  </div>

  <div id="food_description">
  Food Description:
    <p><%=food.description%></p>
  </div>

  <div id="food_gtin">
  Food Gtin:
    <p><%=food.gtin%></p>
  </div>

  <div id="food_ingredients">
  Food Ingredients: 
    <p><%=food.ingredients%></p>
  </div>

  <br>
  <br>
  <br>
</div>
<%n = n+1%>
<% end %>
